/* FontFamily */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
/* universal style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* html body Style */
html,
body {
  width: 100%;
  height: 100%;
}

/* container style */
.container {
  width: 100%;
  height: 100%;
  position: relative;

}
.bgimage{
  position: absolute;
  top:-360px;
  left: 900px;
  z-index: -100;
}
/* main section */
.main-section {
  display: flex;
  justify-content: center;
  flex-grow: 1;
 
}

.main-sub-section {
 
  /* background-position: right; */
  width: 80%;
}
/* navigation */
nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* nav style */
.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}
/* nave list */
.nav-list {
  margin-left: 25px;
  list-style: none;
}
.nav-list:hover {
  color: rgb(241 94 64);
}
/* button for get start */
button {
  padding: 15px 30px 15px 25px;
  font-weight: bold;
  background-color: rgb(241 94 64);
  color: white;
  border-radius: 20px;
  border: none;
  text-align: center;
}

/* section 1 */

.section1{
  padding: 20px 70px 20px 20px;
    display: flex;
    justify-content: space-between;
}
.left-section>h1{
    font-size: 50px;
    padding-top: 25px;
    font-weight: bolder;
}
.left-section>p{
    padding: 50px 0px;
    color: rgb(144 149 166);
}
.left-section>.manage-heading{
  font-size: 40px;
}

/* section 2 */

.section2{
  padding: 20px 70px 20px 20px;
    display: flex;
    justify-content: space-between;
}
.sub-section{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 38px;
}
.track-heading>p{
  padding-top: 10px;
  color: rgb(144 149 166) ;
}
.number-series{
  padding:4px 15px;
    background-color: rgb(241 94 64);
    border-radius: 20px;
    border :none;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    margin-bottom: 64px;
}

/* about section */
.heading-about{
    text-align: center;
    margin: 50px 0;
    font-size: 32px;
  
}
.card-wrapper{
    text-align: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
}
.card{
    width: 360px;
    height: 250px;
    background-color: rgb(250 250 250);
    border-radius: 10px;
}
.card>h4{
    padding-top: 80px;
}
.card>p{
    padding-top: 40px;
    color: rgb(144 149 166) ;
    
}
.profile-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    left: 140px;
    top: -30px;
    overflow: hidden;
}
.profile-image>img{
    width: 100%;
    height: 100%;
}
.about-section{
  padding: 20px 70px 20px 20px;
    display: flex;
    justify-content: space-between;
}
.header >.btn{
  align-items: center;
}
/* team section */
.team-section{
    padding: 60px 120px;
    background-color: rgb(241 94 64);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team-section>.btn{
    background-color: white;
    color: rgb(241 94 64) ;
}
.team-section>h1{
 font-size: 45px;
}
/* footer */
footer{
    padding: 40px;
    background-color: #1d1e25;
    display: flex;
    justify-content: space-between;
}
.sociaL-media  {
   margin-top: 100px;
}
.center>.nav-item{
  color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.nav-item>.nav-list{
  padding: 10px;
}
.copy-right-section >input[type=text]{
  padding: 10px 60px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.copy-right>h4{
  color: white;
  padding-top: 100px;
}
.social-media-logo{
  width: 30px;
  height: auto;
  margin-left: 0px;
} 